@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  <------- header --------> */
.nav-wrap {
    width: 100%;
    padding: 20px;
    position: fixed;
    background: rgb(0, 0, 0, 0.2);
    /* background: rgb(247, 247, 247); */
    border-bottom: 1px solid rgb(214, 214, 214);
    overflow: hidden;
}

.nav-menu {
    float: left;
}

.nav-menu img {
    display: block;
    margin-left: 10px;
    padding: 10px;
}

.menu-list {
    overflow: hidden;
    margin: 10px 0 0 30px;
    /* background: #fff; */
    float: right;
    z-index: 2;
}

.menu-list li {
    float: left;
    margin-right: 20px;
}

.border-none:nth-child(1) {
    border: none
}

li span {
    padding-right: 35px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.menu-list .gnb_wrap {
    background: #000;

}

.gnb_wrap li {
    color: black;
    margin-top: 89px;
}


/* header-img */
.imgslide img {
    display: block;
    width: 100%;
    height: 722px;
}


/* <------- main --------> */
/* one-cupt */
.one-cup {
    width: 100%;
    margin-top: 4em;
}

.one-cup .one-cup-title {
    width: 98%;
    text-align: center;
    /* margin: 30px; */
    padding: 3em 1em;
    line-height: 1.8;
    box-sizing: border-box;
    margin: 0 auto;
}

.one-cup-title h1 {
    margin-top: 50px;
    padding: 20px 12px 5px 12px;
    font-size: 2.5em;
}

.one-cup-title .today-one-cup {
    font-size: 1em;
    font-weight: 100;
    color: #a7a5a5;
}

.one-cup-title p {
    font-size: 18px;
    color: #a7a5a5;
}

/* one-cup-img */
.one-cup-img {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.one-cup-img li {
    width: 25%;
    padding-right: 20px;
    overflow: hidden;
    float: left;
}

.one-cup-img .img-wrap {
    width: 300px;
    overflow: hidden;
}

.one-cup-img img {
    width: 300px;
    display: block;
    /* ease-in-out */
}

.one-cup-img img {
    width: 290px;
    height: 400px;
    padding-right: 20px;
    display: inline-block;

}

/* news */
.news {
    width: 100%;
    height: 700px;
    margin-top: 4em;
}

.news .news-title {
    width: 98%;
    text-align: center;
    padding: 3em 1em;
    line-height: 1.8;
    box-sizing: border-box;
    margin: 0 auto;
}

.news-title h1 {
    padding: 20px 12px 5px 12px;
    font-size: 2.5em;
}

.news-title p {
    font-size: 1em;
    font-weight: 100;
    color: #a7a5a5;
}

/* news */
.news-img {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.news-img li {
    width: 325px;
    float: left;
}

.news-img img {
    width: 310px;
    height: 240px;
    margin-right: 11px;
    display: inline-block;

}

.news-imglist .new-text {
    width: 310px;
    margin-right: 11px;
    padding: 15px;
    border: 1px solid #cccccc;
    line-height: 1.8;
}

.news-imglist span {
    font-size: 15px;
    color: #000;
}


/* partners */
.partners-img-wrap {
    width: 78%;
    margin: 0 auto;
}

.partners {
    overflow: hidden;
}

.wrap_bx {
    width: 50%;
    float: left;
    background: no-repeat center center;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.partners-img-wrap {}

.first-img {
    background-image: url("./img/sec03_img_05.png");
    background-repeat: no-repeat;

}

.second-img {
    background-image: url("./img/sec03_img_06.png");
    background-repeat: no-repeat;
}

.box {
    position: relative;
    display: inline-block;
    margin: 8vh auto;

}

.coco {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: Center;
    color: #FFF;
    font-family: 'crd';
    padding: 1.6em 0;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.6em;
    border: 10px solid #FFF;
    box-sizing: border-box;
}

.coco:hover {
    background: #fff;
    color: #000;
    font-weight: 400;
}


/* <------- footer --------> */
.Main-finish-wrap {
    width: 98%;
    margin: 0 auto;
    text-align: center;

}

.finish-logo {
    height: 80px;
}

.finish-context {
    margin-top: 20px;
    line-height: 1.5;
    padding: 30px;
}